@page "/Breakout"
<div class="breakout-container" @ref="BreakoutContainer" @onmousemove="MovePaddle">
    <div class="controls">
        @if (IsPaused)
        {
            <button @onclick="StartGame">Start</button>
        }
        else
        {
            <button @onclick="PauseGame" disabled="@(IsPaused)">Pause</button>
        }
        <div class="breakout-stats">
            <p>Score: @Score</p>
@*             <p>@BallSpeedX</p>
 *@            <p>Lives: @Lives</p>
            @if (IsDemo)
            {
                <span>Demo</span>
            }
            else
            {
                <span>X @relativeX</span>
            }
        </div>
    </div>
    <svg class="game-field" xmlns="http://www.w3.org/2000/svg">
        @foreach (var block in Blocks)
        {
            <rect x="@(block.X * ScaleX)" y="@(block.Y * ScaleY)" width="@(50 * ScaleX)" height="@(20 * ScaleY)" fill="@block.Color" />
        }

        <!-- Paddle -->
        <rect x="@(PaddleX * ScaleX)" y="@(PaddleYPosition * ScaleY)" width="@(PaddleWidth * ScaleX)" height="@(20 * ScaleY)" fill="grey" />

        <!-- Ball -->
        <circle cx="@(BallX * ScaleX)" cy="@(BallY * ScaleY)" r="@(BallRadius * ScaleX)" fill="white" />
    </svg>
</div>
