@using System.Globalization
@page "/Breakout"
<div class="breakout-container" @ref="BreakoutContainer" @onmousemove="MovePaddle">
    <div class="controls">
        @if (IsPaused)
        {
            <button @onclick="StartGame">Start</button>
        }
        else
        {
            <button @onclick="PauseGame" disabled="@(IsPaused)">Pause</button>
        }
        <div class="breakout-stats">
            <p>Score: @Score</p>
@*             <p>@BallSpeedX</p>
 *@            <p>Lives: @Lives</p>
            @if (IsDemo)
            {
                <span>Demo</span>
            }
            else
            {
                <span>X @relativeX</span>
            }
        </div>
    </div>
    <svg class="game-field" xmlns="http://www.w3.org/2000/svg">
        @foreach (var block in Blocks)
        {
            <rect x="@ScaleAndFormat(block.X, ScaleX)"
                  y="@ScaleAndFormat(block.Y, ScaleY)"
                  width="@ScaleAndFormat(50, ScaleX)"
                  height="@ScaleAndFormat(20, ScaleY)"
                  fill="@block.Color" />
        }

        <!-- Paddle -->
        <rect x="@ScaleAndFormat(PaddleX, ScaleX)"
              y="@ScaleAndFormat(PaddleYPosition, ScaleY)"
              width="@ScaleAndFormat(PaddleWidth, ScaleX)"
              height="@ScaleAndFormat(20, ScaleY)"
              fill="grey" />

        <!-- Ball -->
        <circle cx="@ScaleAndFormat(BallX, ScaleX)"
                cy="@ScaleAndFormat(BallY, ScaleY)"
                r="@ScaleAndFormat(BallRadius, ScaleX)"
                fill="white" />
    </svg>
</div>
